In [2]:
import pandas as pd

df = pd.read_excel("permim.xlsx")
df

   Age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [3]:
x =df["Age"]

In [4]:
y=df["premium"]

In [5]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [6]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [21]:
print(f"{x_train}\n",y_train)

4    45
3    40
0    25
Name: Age, dtype: int64
 4    55000
3    47000
0    18000
Name: premium, dtype: int64

In [19]:
print(f"{x_test}\n",y_test)

1    30
2    35
Name: Age, dtype: int64
 1    32000
2    40000
Name: premium, dtype: int64